<!-- Page Content -->
<div id="page-content-wrapper">
    <div class="container-fluid">
        <h5>Game ID: {{game._id.$oid}}</h5>
        <div class="row">
            <div class="col-xs-6">
            	<div class="card-game">
            		<h2>{{game.visitor.player.name}}</h2>
            		<h4>{{game.visitor.team}}</h4>
                    <div class="card-game-score-left">
                        {{game.visitor.p3.goals}}
                    </div>
                    <div class="team-banner">
                    </div>
            	</div>
            </div>
            <div class="col-xs-6">
            	<div class="card-game">
            		<h2 class="text-right">{{game.home.player.name}}</h2>
            		<h4 class="text-right">{{game.home.team}}</h4>
                    <div class="card-game-score-right">
                        {{game.home.p3.goals}}
                    </div>
                    <div class="team-banner">
                    </div>
            	</div>
            </div>
        </div>	<!-- /.row -->
        <div class="game-details">
            <div class="row">

                <div class="col-xs-12">
                    {{hppp}}
                </div>

            </div> <!-- /.row -->
        </div>
    </div>
</div>