<!-- Page Content -->
<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6">
            	<div class="card-game">
            		<div class="team-logo">
            		</div>
            		<h3>Player Name</h3>
            		<h4>Team</h4>
            	</div>
            </div>
            <div class="col-xs-6">
            	<div class="card-game">
            		<div class="team-logo">
            		</div>
            		<h3>Player Name</h3>
            		<h4>Team</h4>
            	</div>
            </div>
        </div>	<!-- /.row -->
    </div>
</div>