<!-- Page Content -->
<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6">
            	<div class="card-game">
            		<div class="team-logo">
            		</div>
            		<h3>{{game.visitor.player}}</h3>
            		<h4>{{game.visitor.team}}</h4>
            	</div>
            </div>
            <div class="col-xs-6">
            	<div class="card-game">
            		<div class="team-logo">
            		</div>
            		<h3>{{game.home.player}}</h3>
            		<h4>{{game.home.team}}</h4>
            	</div>
            </div>
        </div>	<!-- /.row -->
    </div>
</div>